@font-face {
    font-family: 'PeopleMediaFontBold';
    src: url('font/peoplemediafont-bold-webfont.eot');
    src: url('font/peoplemediafont-bold-webfont.eot?#iefix') format('embedded-opentype'), url('font/peoplemediafont-bold-webfont.woff') format('woff'), url('font/peoplemediafont-bold-webfont.ttf') format('truetype'), url('font/peoplemediafont-bold-webfont.svg#peoplemediafont-bold-webfont') format('svg');
}
@font-face {
    font-family: 'PeopleMediaFont';
    src: url('font/peoplemediafont-regular-webfont.eot');
    src: url('font/peoplemediafont-regular-webfont.eot?#iefix') format('embedded-opentype'), url('font/peoplemediafont-regular-webfont.woff') format('woff'), url('font/peoplemediafont-regular-webfont.ttf') format('truetype'), url('font/peoplemediafont-regular-webfont.svg#people_media_fontregular') format('svg');
}
@font-face {
    font-family: 'PeopleMediaFont1.1';
    src: url('font/pmiconfont_v1.1-webfont.eot');
    src: url('font/pmiconfont_v1.1-webfont.eot?#iefix') format('embedded-opentype'), url('font/pmiconfont_v1.1-webfont.woff') format('woff'), url('font/pmiconfont_v1.1-webfont.ttf') format('truetype'), url('font/pmiconfont_v1.1-webfont.svg#people_media_iconfont') format('svg');
}
@font-face {
    font-family: 'PeopleMediaFont1.2';
    src: url('font/pmiconfont_v1.2-webfont.eot');
    src: url('font/pmiconfont_v1.2-webfont.eot?#iefix') format('embedded-opentype'), url('font/pmiconfont_v1.2-webfont.woff') format('woff'), url('font/pmiconfont_v1.2-webfont.ttf') format('truetype'), url('font/pmiconfont_v1.2-webfont.svg#people_media_iconfont') format('svg');
}
