._80gt{color:#000;font-size:18px;font-weight:normal;line-height:19px}._80gu{color:#1d2129;font-size:34px;line-height:40px}._80gx{width:302px}._814l{min-height:612px}/*FB_PKG_DELIM*/

#bootloader_hqNu6Bk{height:42px;}.bootloader_hqNu6Bk{display:block!important;}