@font-face {
    font-family: 'Gilroy';
    src: url('gilroy/gilroy-thin.eot'), /* IE11 Compatibility */
         url('gilroy/gilroy-thin.otf') format('opentype');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Gilroy';
    src: url('gilroy/gilroy-thinitalic.eot'), /* IE11 Compatibility */
         url('gilroy/gilroy-thinitalic.otf') format('opentype');
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: 'Gilroy';
    src: url('gilroy/gilroy-ultralight.eot'), /* IE11 Compatibility */
         url('gilroy/gilroy-ultralight.otf') format('opentype');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Gilroy';
    src: url('gilroy/gilroy-ultralightitalic.eot'), /* IE11 Compatibility */
         url('gilroy/gilroy-ultralightitalic.otf') format('opentype');
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: 'Gilroy';
    src: url('gilroy/gilroy-light.eot'), /* IE11 Compatibility */
         url('gilroy/gilroy-light.otf') format('opentype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Gilroy';
    src: url('gilroy/gilroy-lightitalic.eot'), /* IE11 Compatibility */
         url('gilroy/gilroy-lightitalic.otf') format('opentype');
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: 'Gilroy';
    src: url('gilroy/gilroy-regular.eot'), /* IE11 Compatibility */
         url('gilroy/gilroy-regular.otf') format('opentype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Gilroy';
    src: url('gilroy/gilroy-regularitalic.eot'), /* IE11 Compatibility */
         url('gilroy/gilroy-regularitalic.otf') format('opentype');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'Gilroy';
    src: url('gilroy/gilroy-medium.eot'), /* IE11 Compatibility */
         url('gilroy/gilroy-medium.otf') format('opentype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Gilroy';
    src: url('gilroy/gilroy-mediumitalic.eot'), /* IE11 Compatibility */
         url('gilroy/gilroy-mediumitalic.otf') format('opentype');
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: 'Gilroy';
    src: url('gilroy/gilroy-semibold.eot'), /* IE11 Compatibility */
         url('gilroy/gilroy-semibold.otf') format('opentype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Gilroy';
    src: url('gilroy/gilroy-semibolditalic.eot'), /* IE11 Compatibility */
         url('gilroy/gilroy-semibolditalic.otf') format('opentype');
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: 'Gilroy';
    src: url('gilroy/gilroy-bold.eot'), /* IE11 Compatibility */
         url('gilroy/gilroy-bold.otf') format('opentype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    src: url('gilroy/gilroy-bolditalic.eot'), /* IE11 Compatibility */
         url('gilroy/gilroy-bolditalic.otf') format('opentype');
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    src: url('gilroy/gilroy-extrabold.eot'), /* IE11 Compatibility */
         url('gilroy/gilroy-extrabold.otf') format('opentype');
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'Gilroy';
    src: url('gilroy/gilroy-extrabolditalic.eot'), /* IE11 Compatibility */
         url('gilroy/gilroy-extrabolditalic.otf') format('opentype');
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: 'Gilroy';
    src: url('gilroy/gilroy-heavy.eot'), /* IE11 Compatibility */
         url('gilroy/gilroy-heavy.otf') format('opentype');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'Gilroy';
    src: url('gilroy/gilroy-heavyitalic.eot'), /* IE11 Compatibility */
         url('gilroy/gilroy-heavyitalic.otf') format('opentype');
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: 'PT Sans';
    src: url('PTSans/PTSans-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'PT Sans';
    src: url('PTSans/PTSans-Bold.ttf');
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'PT Sans';
    src: url('PTSans/PTSans-BoldItalic.ttf');
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: 'PT Sans';
    src: url('PTSans/PTSans-Italic.ttf');
    font-style: italic;
    font-weight: 400;
}









